# ROOT
*.so
*.d
*.pcm

# PYTHON
*.pyc

# EMACS
*~
\#*\#

# DATA DIRECTORIES
QIE11_Testing/dat/*
!QIE11_Testing/dat/.placeholder
!QIE11_Testing/dat/output/.placeholder
QIE11_Testing/img/*
!QIE11_Testing/img/.placeholder
QIE11_Testing/log/*
!QIE11_Testing/log/.placeholder
QIE11_Testing/python/*
!QIE11_Testing/python/.placeholder
