# any line STARTING with '#' is a comment

# start each definition with <start_definition> and end with <end_definition>, each on it's own line
# every definition requires a name and type at minimum

# blocks must be declared AFTER name and type

# to fill a histogram, use the <fill> tag followed by the arguments to ->Fill()
      # example: <fill> (nTS, adc);

###########################################
<start_definition>
name = "General"
type = null

loop_vars = <start_block>
  int adcped = 4;
  float qped = adc2fC_QIE10_refl[ adcped ];
  float qsum = 0;
  float qmax = 0;
  int ts_max = 0;
  float qmax2p = 0;
  float qmax2m = 0;
  float qmax3 = 0;
  int ts_TDC1 = -1;
  int ts_TDC2 = -1;
  int cid_TDC1 = -1;
  int cid_TDC2 = -1;
  int ts_ref = -1;
  int ref_ns = 117;
  float t_abs = -1.0;
  float t_cid = -1.0;
<end_block>

pre_loop = <start_block>

  global.qsum = 0;
  global.qmax = 0;
  global.ts_max = 0;
  global.ts_TDC1 = -1;
  global.ts_TDC2 = -1;
  global.cid_TDC1 = -1;
  global.cid_TDC2 = -1;
  bool TDC1_flag = 0;
  bool TDC2_flag = 0;
  for ( int iTS=0 ; iTS<digis.samples() ; iTS++) {
    global.qsum += adc2fC_QIE10_refl[ digis[iTS].adc() ] + 14.45;
    if ((adc2fC_QIE10_refl[ digis[iTS].adc() ] + 14.45) > global.qmax) {
      global.qmax = adc2fC_QIE10_refl[ digis[iTS].adc() ] + 14.45;
      global.ts_max = iTS;
    }
    if ((TDC1_flag == 0) && (digis[iTS].tdc() < 50)) {
      TDC1_flag = 1;
      global.ts_TDC1 = iTS;
      global.cid_TDC1 = digis[iTS].capid();
    }
    if ((TDC1_flag == 1) && (TDC2_flag == 0) && (digis[iTS].tdc() < 50)) {
      TDC2_flag = 1;
      global.ts_TDC2 = iTS;
      global.cid_TDC2 = digis[iTS].capid();
    }
  }
  global.t_abs = ((global.ts_TDC1)*25.0) + (digis[global.ts_TDC1].tdc()*0.5);
  global.t_cid = (global.cid_TDC1*25.0) + (digis[global.ts_TDC1].tdc()*0.5);

  global.qmax2p = -1;
  global.qmax2m = -1;
  global.qmax3 = -1;
  if (global.ts_max > 0) {
    global.qmax2m = adc2fC_QIE10_refl[ digis[global.ts_max-1].adc() ] + adc2fC_QIE10_refl[ digis[global.ts_max].adc() ] + (2*14.45);
  }
  if (global.ts_max < 9) {
    global.qmax2p = adc2fC_QIE10_refl[ digis[global.ts_max].adc() ] + adc2fC_QIE10_refl[ digis[global.ts_max+1].adc() ] + (2*14.45);
  } 
  if ((global.ts_max > 0) && (global.ts_max < 9)) {
    global.qmax3 = adc2fC_QIE10_refl[ digis[global.ts_max-1].adc() ] + adc2fC_QIE10_refl[ digis[global.ts_max].adc() ] + adc2fC_QIE10_refl[ digis[global.ts_max+1].adc() ] + (3*14.45);  
  }

  int ref_offset = 999;
  if (global.ts_TDC1 > -1) {
    ref_offset = ((int)(((float)digis[global.ts_TDC1].tdc()*0.5) + (float)global.ref_ns) - (int)(((float)digis[global.ts_TDC1].tdc()*0.5) + (float)global.ref_ns)%25)/25;
  }
  global.ts_ref = -1;
  if ((ref_offset + global.ts_TDC1) < 9) {
    global.ts_ref = ref_offset + global.ts_TDC1;
  }
<end_block>

loop = <start_block>
  int tTS = digis.samples();
  tTS = tTS;
  int adc = digis[nTS].adc();
  adc = adc;
  int le_tdc = digis[nTS].tdc();
  le_tdc = le_tdc;
  int capid = digis[nTS].capid();
  capid = capid;
  int soi = digis[nTS].soi();
  soi = soi;
  float charge = adc2fC_QIE10_refl[ adc ] + 14.45;
  charge = charge;
<end_block>

<end_definition>
###########################################
<start_suite>
name = "PedestalData"
code = 1
null = "General"
TH1F_perEV = "ADC_spectrum_EV" , "QSum_EV" , "T_abs_EV" 
TH1F_perCH = "ADC_spectrum_CH" , "QSum_CH" , "T_abs_CH"
TH2F_perEV = "ADCvsTS_EV" , "ADCvsCID_EV" , "QvsTS_EV"
TH2F_perCH = "ADCvsTS_CH" , "ADCvsCID_CH" , "QvsTS_CH"
<end_suite>
###########################################
<start_definition>
name = "ADC_spectrum_EV"
type = TH1F_perEV
nbinsx = 256
lowx = -0.5
highx = 255.5
titlex = "ADC"

loop = <start_block>
  <fill_perEV> ( adc );
<end_block>

<end_definition>
###########################################
<start_definition>
name = "ADC_spectrum_CH"
type = TH1F_perCH
nbinsx = 256
lowx = -0.5
highx = 255.5
titlex = "ADC"

loop = <start_block>
  <fill_perCH> ( adc );
<end_block>

<end_definition>
###########################################
<start_definition>
name = "ADCvsTS_CH"
type = TH2F_perCH
nbinsx = tTS
lowx = -0.5
highx = (float)tTS - (float)0.5
titlex = "TS"
nbinsy = 256
lowy = -0.5
highy = 255.5
titley = "ADC"

loop = <start_block>
  <fill_perCH> ( nTS, adc );
<end_block>

<end_definition>
##########################################
<start_definition>
name = "ADCvsTS_EV"
type = TH2F_perEV
nbinsx = tTS
lowx = -0.5
highx = (float)tTS - (float)0.5
titlex = "TS"
nbinsy = 256
lowy = -0.5
highy = 255.5
titley = "ADC"

loop = <start_block>
  <fill_perEV> ( nTS, adc );
<end_block>

<end_definition>
##########################################
<start_definition>
name = "QvsTS_CH"
type = TH2F_perCH
nbinsx = tTS
lowx = -0.5
highx = (float)tTS - (float)0.5
titlex = "TS"
nbinsy = 5000
lowy = 0
highy = 250000
titley = "Q (fC)"

loop = <start_block>
  <fill_perCH> ( nTS, charge );
<end_block>

<end_definition>
##########################################
<start_definition>
name = "QvsTS_EV"
type = TH2F_perEV
nbinsx = tTS
lowx = -0.5
highx = (float)tTS - (float)0.5
titlex = "TS"
nbinsy = 5000
lowy = 0
highy = 250000
titley = "Q (fC)"

loop = <start_block>
  <fill_perEV> ( nTS, charge );
<end_block>

<end_definition>
##########################################
<start_definition>
name = "QSum_EV"
type = TH1F_perEV
nbinsx = 600
lowx = 0
highx = 600000
titlex = "Integrated Charge (fC)"

post_loop = <start_block>
  <fill_perEV> ( global.qsum );
<end_block>

<end_definition>
##########################################
<start_definition>
name = "QSum_CH"
type = TH1F_perCH
nbinsx = 600
lowx = 0
highx = 600000
titlex = "Integrated Charge (fC)"

post_loop = <start_block>
  <fill_perCH> ( global.qsum );
<end_block>

<end_definition>
##########################################
<start_definition>
name = "ADCvsCID_EV"
type = TH2F_perEV
nbinsx = 4
lowx = -0.5
highx = 3.5
titlex = "CID"
nbinsy = 25
lowy = 0
highy = 50
titley = "ADC"

loop = <start_block>
  <fill_perEV> ( capid , adc );
<end_block>

<end_definition>
###########################################
<start_definition>
name = "ADCvsCID_CH"
type = TH2F_perCH
nbinsx = 4
lowx = -0.5
highx = 3.5
titlex = "CID"
nbinsy = 25
lowy = 0
highy = 50
titley = "ADC"

loop = <start_block>
  <fill_perCH> ( capid , adc );
<end_block>

<end_definition>
###########################################
<start_definition>
name = "T_abs_EV"
type = TH1F_perEV
nbinsx = 250
lowx = -0.5
highx = 249.5
titlex = "t (ns)"

post_loop = <start_block>
  if (global.t_abs > -1) {
    <fill_perEV> (global.t_abs);
  }
<end_block>

<end_definition>
###########################################
<start_definition>
name = "T_abs_CH"
type = TH1F_perCH
nbinsx = 250
lowx = -0.5
highx = 249.5
titlex = "t (ns)"

post_loop = <start_block>
  if (global.t_abs > -1) {
    <fill_perCH> (global.t_abs);
  }
<end_block>

<end_definition>
###########################################
